$light-color: white;
$light-opacity-color: rgba(255, 255, 255, 0);
$dark-color: #333;
$primary-color: #f79520;
$primary-opacity-color: rgba(247, 149, 32, 0.9);
$light-gray-color: #e8e8e8;
$gray-color: #8e8c8c;
$breakpoint-tablet: 768px;
